ctrlXmqttMosquitto/MosquittoTestFlow.json
[
    {
        "id": "b03ace7839757cbe",
        "type": "tab",
        "label": "Mosquitto Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b93eca9bcbddb514",
        "type": "mqtt in",
        "z": "b03ace7839757cbe",
        "name": "",
        "topic": "tester",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fb0579e9f91f7775",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f35d016df3106fd7",
        "type": "mqtt out",
        "z": "b03ace7839757cbe",
        "name": "",
        "topic": "anotherTest",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb0579e9f91f7775",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "1621df8a93d57e4f",
        "type": "debug",
        "z": "b03ace7839757cbe",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "350182908c17d150",
        "type": "inject",
        "z": "b03ace7839757cbe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "f35d016df3106fd7"
            ]
        ]
    },
    {
        "id": "fb0579e9f91f7775",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "8883",
        "tls": "",
        "clientid": "boschrexroth",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]